body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;     
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  /*background: #ffffff;*/
}
.wrapper {
  background: #ffffff;
  width: 1200px; 
/* width: 100%;       
 /* min-width: 900px;  */
}
.header {                              /*содержимое хэдера*/
  min-height: 95px; 
  padding-top: 25px;
  background: #eeeeee; 
  text-transform: uppercase; 
}
header,
main,
footer {
  min-width: 900px;
  width: 100%;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container {
  width: 900px;
  padding: 0 10px;
  margin: 0 auto;
  box-sizing: border-box;
}

.main-navigation {                     /* меню навигации*/
  float: left;
  width: 720px;
  color: #000000;
}
.main-navigation .index-logo {
  float: left;
  width: 140px;
  height: 55px;
  margin-right: 180px;
}
.main-navigation .index-logo img {
  width: 139px;        /*  разные размеры 140*55 см.выше   */
  height: 56px;
}
.main-navigation .index-logo:hover {
  background: none;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 30px;
  
}
.main-navigation a:hover {
  color: #fb565a;
}
.main-navigation a:active {
  color: #8f8f8f;
} 
.main-navigation a {
  color: #000000;
}  
.main-navigation li {
  margin: 0;
  padding: 0;
  display: inline;
  margin-right: 35px; 
  font-size: 14px;
  line-height: 30px; 
}
.main-navigation. link-active {                  /*навигация пункт меню для индикации текущей страницы*/
  text-decoration: underline;
  color: #fb565a;
  
}
.basket {
  float: right;
  width: 100px;
  margin-top: 30px; 
  font-size: 14px;
  line-height: 30px;
}
.package {
  color: 000000;
}   
a {
  text-decoration: none;
}
.button {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  background: #fb565a;
}
.slider-container  {
  height: 316px;
}
.slider{                                    
  position: relative;
  height: 316px;
  background: #eeeeee;
  margin-bottom: 80px;
}
.sliders {                                  /*index: БЛОК - Слайдер*/
  display: none;  
}
.slider-controls {                          /*index: круглые кнопки слайдера */
  position: absolute;
  bottom: 85px;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  height: 10px;
  text-align: center;
  z-index: 100;
  line-height: 0;
}
.slider-controls label {
  display: inline-block;
  vertical-align: top;
  width: 4px;
  height: 4px;
  margin: 0 3px;
  border: 3px solid #ffffff;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.slide1:checked ~ .slider-controls label:nth-child(1),      /*index: переключение круглых кнопок слайдера */
.slide2:checked ~ .slider-controls label:nth-child(2),
.slide3:checked ~ .slider-controls label:nth-child(3) { 
  background:#c1c1c1;
}
.slider-list {}
.slider-item {              /*index: все неактивные слайды не отображаются на экране */
  position: relative;
  display: none;
}
.slide1:checked ~ .slider-list .slider-item:nth-child(1),       /*index: переключение между слайдами */
.slide2:checked ~ .slider-list .slider-item:nth-child(2),
.slide3:checked ~ .slider-list .slider-item:nth-child(3) { 
  display: block;
}
.slider-item-image {               /*index:картинка слайда */
  position: absolute;
  right: 0;
  text-align: right;
}
.slider-item-image img {
  /*float: right;*/
}
.slider-item-text {              /*index: текст на слайде */
  position: absolute;
  top: 20px;
  
}
.slider-item-text h2 {
  padding: 0;
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin-bottom: 15px;
  
}
.slider-item-text p {
  margin: 0;
  padding: 0; 
  margin-bottom: 30px;
  padding: 5px 0;
  color: #283136;               
}
.slider-button {           /* index: кнопка на слайде*/
  margin-top: 22px;
  width: 240px;
  height: 38px;
/*  background: #fb565a;  */
  color: #ffffff;
  padding: 16px 70px;
}  
.directions-item {                    /*index: БЛОК - Направления работ компании*/
  float: left;
  width: 240px;
  margin-right: 80px;
  margin-bottom: 155px; 
}
.directions-item:last-child {
  margin-right: 0;
}
.directions-item img {
  padding-bottom: 27px;
}
.directions-item  p {
  margin: 0;
  padding: 0; 
  font-size: 15px;
  line-height: 22px;
  color: #283136;
  padding-bottom: 27px; 
}
.directions-item  h2 {
  margin: 0;
  padding: 0;
  padding-bottom: 27px;
}
.directions-item-title {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}
.order-button {
  display: block;
  width: 140px;
  height: 18px;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
 /*background: #00ca74; */
  text-align: center;
  padding-top:10px;
  padding-bottom: 10px;
}
 
.description {                                  /*index: БЛОК - Описание компании*/  
  margin-bottom: 115px;
}                               

.description-title {
  text-transform: uppercase;
}
.description-container p {
  margin-bottom: 15px;
}
.description-container b {
  font-size: 36px;
  line-height: 36px;
}
.description-container span {
  color: #283136;
  
}
.description .index-logo {
  float: right;
  position: relative;
  top: -140px;         /* уточнить*/
  left: -40px;
}
.description-left {
  float: left;
  width: 480px;
  margin-top: 50px; 
 }
.description-right {
  float: right;
  width: 260px;
  margin-top: -30px; 
 }

.description-left p {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  color: #283136;
}
.description-left p:last-child {
  margin-bottom: 0;
}
.description-right p {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  color: #283136;
}
.description-right p:last-child {
  margin-bottom: 0;
}
.link-logo-img {                                /*index: БЛОК - Логотипы */
  display: inline-block;
  vertical-align: top;
  margin-right: 76px;
  margin-bottom: 120px;
}
.link-logo-img:last-child {
  margin-right: 0;
}

/*.link-logo img {
  float: left;
  width: 240px;
  margin-right: 80px;
  
  margin-bottom: 115px;
}
.link-logo img:last-child {
  margin-right: 0; 
}  */
.caption {
  background: #eeeeee;
  min-height: 208px;
  margin-bottom: 80px;
}
.caption-container h1 {                          /*inner: Название страницы*/
  padding: 0;
  margin: 0;
  font-size: 40px;                                    
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
}
.catalog-filter {                                /*inner: БЛОК - Фильтр каталога*/
  float: left;
  width: 240px;
  margin-right: 80px;
} 
.sidebar fieldset {
  border-color: transparent;
} 
.sidebar-filter-value {
  padding: 0;
} 
.sidebar-filter-item {
  padding: 0;
}
.filter-item {
  color: #283136;
}
.filter-features-text {
  color: #283136;
}
.sidebar-filter-features {
  padding: 0;
}
.scrolling {                                  /*inner: Фильтр каталога (стоимость)*/
  width: 240px;
  height: 80px;
  background: #f1f1f1;
  margin-top: 20px;
  margin-bottom: 15px;
}
.scrolling-cell {
  position: relative;
  height: 38px;
  
}
.scrolling-cell label {
  /*width: 100px;      */  /* 100px*/
  position: absolute;
}
.scrolling-cell  span{
  /*margin-left: 10px; */
  text-transform: uppercase;
  color: #283136;
 }
.scrolling-cell input {
  width: 80px;
  height: 38px;
  border: 0;
  text-align: center;
  background: #f1f1f1;
  margin-left: 10px;
  color: #283136;
} 
.scrolling-cell-from {
  left: 0;                   /*0*/
}
.scrolling-cell-to {
  right: 0;                   /*0*/  
}
.sidebar fieldset {
  margin-bottom: 50px;
}
.sidebar legend {
  text-transform: uppercase;
}
.catalog-filter-button {                       /*inner: Кнопка фильтра каталога*/
  width: 155px;
  height: 38px;
  background: #f1f1f1;
  text-align: center;
  border: 0;
}
.catalog-filter-button:hover {
  background: #e5e5e5;
}
.catalog-filter-button:active {
  background: #d5d5d5;
}
.catalog-list {                           /*inner: БЛОК - список товара*/
  float: right;
  width: 560px;   
} 
.catalog-selection {
  position: relative;             /*inner: Панель сортировки*/
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 25px;
}

.catalog-selection  ul {
  margin: 0;
  padding: 0;
  list-style: none; 
  padding: 0;
  text-transform: uppercase;
}
.catalog-selection li {
  margin: 0;
  padding: 0;
  display: inline;
  margin-right: 40px;
  
} 
.catalog-selection li:last-child {
  margin-right: 0;
}

.catalog-selection  span {        /*span*/
  color: #c7c7c7;
}
.catalog-selection  span:hover{        /*span*/
  color: #000000;
}
.catalog-selection a {
  text-decoration: none;
  color: #00ca74;
  border-bottom: 1px dashed #00ca74;
}
.catalog-selection a:hover {
  text-decoration: underline;
  color: #00ca74;
  border-bottom: none;
} 
.catalog-selection a:active {
  text-decoration: none;
  color: #ffffff;
  border-bottom: none;
}
/*.catalog-selection a:hover:before {
  color: #000000;
  text-decoration: underline;
  color: #00ca74;
  
} */
/*.catalog-selection a:hover {
  
  text-decoration: underline;
  color: #00ca74;
}  */

.triangle-down  {
  position: absolute;
  top: 5px;
  left: 530px; 
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 11px solid #c1c1c1;
}
.triangle-down:hover {
  border-top: 11px solid #c1c1c1;
}
.triangle-down:active {
  border-top: 11px solid #000000;
}
.triangle-down:focus {
  border-top: 11px solid #00ca74;
}
.triangle-up {
  position: absolute; 
  top: 5px;
  left: 550px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 11px solid #c1c1c1;
}
.triangle-up:hover {
  border-bottom: 11px solid #c1c1c1;
}
.triangle-up:active {
  border-bottom: 11px solid #000000;
}

.triangle-down-active:focus {
  border-bottom: 11px solid #00ca74;
} 
.catalog-items {                                  
  font-size: 0;
}  
.catalog-item {                                /*inner: каротчка товара*/
  position: relative; 
  display: inline-block;
  vertical-align: top;
  width: 240px;
  height: 270px;
  overflow: hidden;
  /*margin-left: 80px; */
  margin-bottom: 80px; 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
  padding-top: 30px;
  background-color: #f1f1f1;
  border-radius: 5px 5px 0 0;
  /*cursor: pointer;*/
  -webkit-transition: background-color .3s linear;
  -o-transition: background-color .3s linear;  
  transition: background-color .3s linear;
}
.catalog-item:nth-child(2n) {
  margin-left: 80px;
}
.catalog-item:hover {
  background-color: #797979;
}
.catalog-item:after,
.catalog-item:before {
  position: absolute;
  top: 10px;
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
}
.catalog-item:after {
  left: 12px;
}
.catalog-item:before {
  left: 29px;
  box-shadow: 17px 0 0 0 #ffffff;
}
.catalog-item-img {}
.catalog-item-img img {
  width: 240px;
  height: 240px;
}
.catalog-item-description {                          /*inner: Описание товара*/
  position: absolute;
  top: 50px;
  left: 20px;
  /*display: none;*/
  display: block;
  width: 200px;
  height: 200px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px 20px;
  background-color: #ffffff;
  opacity: 0;
  text-align: center;
  -webkit-transition: opacity .5s linear;
  -o-transition: opacity .5s linear;
  transition: opacity .5s linear;
}
.catalog-item-description h3 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
.catalog-item-description p {
  margin: 0;
  padding: 0;
  height: 160px;
  overflow: hidden;
  margin: 12px 0 0 0;
  font-size: 14px;
  line-height: 18px;
  color: #283136;
}
.catalog-item-buy {                            /*inner: Кнопка карточки товара*/
  position: absolute;
  left: 30px;
  bottom: 30px;
  display: block;
  width: 140px;
  height: 38px;
  font-size: 18px;
  line-height: 18px;
  background: #fb565a;
  border: 0;
}
.catalog-item-buy:hover {
  background: #d6494d;
}
.catalog-item-buy:active {
  background: #b63538;
}
.catalog-item:hover .catalog-item-description {
  /*display: block;*/
  opacity: 1;
}
.catalog-pageswitch-button {
  display: inline-block;
  width: 38px;
  height: 28px;
  background: #eeeeee;
  color: #000000;
  font-size: 12px;
  line-height: 18px;
  margin-right: 10px;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 80px;
}  


.footer-map-container  {
  position: relative;
  margin-bottom: 80px;
  width: 1200px;
    
  padding-left: 0;      /*почему??- потому-что у .container: padding 0 10px ?*/
}  
.footer-contacts {                               /*БЛОК на карте - с адресом и тел.*/
  position: absolute;
  bottom: 88px;        /*92px?????*/
  left: 160px; 
  width: 250px; 
  height: 240px;
  background: #ffffff;
}
.footer-contacts-description {                             
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 30px;
  padding-bottom: 25px;
  
}
.footer-contacts-address {
  height: 77px; 
  margin-bottom: 20px;
  margin-top: 21px;
}

.footer-contacts-description b {
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
} 
.footer-contacts-description  p {
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
  font-size: 16px;
  line-height: 20px;
  color: #283136;
}

.callback-button {                               
  /*position: absolute;
  left: 0;
  top: 30px;  */
  display: block;
  width: 204px;
  height: 18px;
  font-size: 12px;
  line-height: 18px;
/*  background: #fb565a;  */
  color: #ffffff;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;     
}
.footer-map-logotype {
  position: absolute;
  bottom: 113px;
  left: 839px;
}  
 /* margin-left: 23px;
  margin-right: 23px;
  margin-bottom: 23px;
  text-align: center; */
  
 /*border: 0;
  width: 204px;
  height: 38px;
  background: #fb565a;
  color: #ffffff;
  padding: 16px 54px;
  margin-left: 23px;
  margin-right: 23px;
  margin-bottom: 23px; */
  
}
.footer-social-logo {                       /*Иконки*/
  display: inline-block;
  vertical-align: top;  
  float: left;
  width: 240px;
  height: 215px;
  margin-right: 80px;
}
.footer-social-logo a {
  margin-right: 18px;
} 
.footer-slogan b {
  font-size: 36px;
  line-height: 36px;
  
}
.footer-slogan p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  color: #283136;
}
.footer-slogan {
  float: right;
  width: 550px;
}
.footer-socials {
margin-bottom: 200px;
}
.input-form {
  margin-top: 50px;
  margin-bottom: 55px;
  
} 
.modal-content {
  position: absolute;
  left: 275px;
  top: 1660px;   
  width: 460px;
  height: 416px;
  background: #ffffff;
  padding-left: 80px;
  padding-right: 90px;
 /* padding-bottom: 50px;
  padding-top: 55px; */ 
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.7)
} 
.modal-content-close {
  position: absolute;
  top: 5px;
  left: 584px;
  width: 41px;
  height: 41px;
  background: #fb565a;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: 0;
  font-size: 0;
  cursor: pointer;
}
.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  right: 8px;
  bottom: 18px;
  width: 25px;
  height: 5px;
  background-color: #ffffff;
  border-radius: 1px; 
}
.modal-content-close::before {
 transform: rotate(45deg);
}
.modal-content-close::after {
  transform: rotate(-45deg);
}
.modal-data-name {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
.modal-data-name:last-child {
  margin-right: 0;
} 
.modal-data-email {
  float: right;           
  margin-bottom: 20px;
}

.modal-data span {
  font-size: 16px;
  line-height: 18px;
}
.modal-data  input[type="text"] {
  width: 199px;                      
  height: 34px;
  margin-top: 10px;
  /*margin: 0; */
  padding-left: 15px;  
  font-size: 12px;
  line-height: 18px;
  /*font-family: "Roboto", "Arial", sans-serif; */
  color: #000000;
  text-transform: uppercase;
  border: 2px solid #d7dcde;
  outline: none;
  
}

.modal-dialog {
  margin-bottom: 50px;
}
.modal-dialog  textarea {
  width: 443px;
  height: 102px;
  margin-top: 10px;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 12px;
  line-height: 18px;
  /*  font-family: "Roboto", "Arial", sans-serif; */
  color: #000000;
  text-transform: uppercase;
  border: 2px solid #d7dcde;
  outline: none;
}  
.modal-dialog span {
  font-size: 16px;
  line-height: 18px;
  
/*  font-family: inherit; */
}
.send-button {
  width: 460px;
  height: 38px;
  font-size: 12px;
  line-height: 18px;
  background: #fb565a;
  color: #ffffff;
  border: 0;
  text-transform: uppercase;
  
}




