body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;     
  font-size: 16px;
  line-height: 22px;
  color: #000000; 
  background: #ffffff;  
}
.header {
 /* min-height: 95px; */
  padding-top: 25px;
  background: #eeeeee; 
    
}
.container {
  width: 904px;
  padding: 0 10px;
  margin: 0 auto;
  box-sizing: border-box; 

} 
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/*header: меню навигации*/
.main-navigation {                          
 /* position: relative;       */             
  float: left;
  width: 720px;
  text-transform: uppercase;
 
}
/*header: - логотип*/
.index-logotype {                            
/*  position: absolute;*/
  float: left;
  width: 139px;
  height: 56px;
  margin-right: 180px; 
}
.index-logotype img {
  width: 139px;        
  height: 56px;
}
.index-logotype:hover {
  background: none;
}
/*header: - список меню навигации*/
.main-navigation ul {                           
  margin: 0;
  padding: 0;
 /* margin-left: 320px; */
  list-style: none;
  margin-top: 30px;
  font-size: 0;
}
.main-navigation a:hover {
  color: #fb565a;
}
.main-navigation a:active {
  color: #8f8f8f;
} 
.main-navigation a {
  color: #000000;
  text-decoration: none;
}  
.main-navigation li {
  display: inline;
  margin: 0;
  padding: 0;
  margin-right: 41px; 
  font-size: 14px;
  line-height: 30px; 
  margin-top: 35px;
}
.main-navigation li:last-child{
  margin-right: 0;
}  
/*header:  - корзина*/                
.package {                                   
  position: relative;
  color: #000000;
  float: right; 
  width: 65px;
  padding-left: 35px;
  margin-top: 30px; 
  font-size: 14px;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;  
}
.package:hover {
  color: #fb565a;
}
.package:active {
  color: #8f8f8f;
}
.package::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 8px;
  width: 15px;
  height: 15px;
  background: transparent url("../img/index/spritenew.png") no-repeat;
  background-position: -5px -5px;
  opacity: 0.3;  
}
.package:hover::before {
  background: transparent url("../img/index/spritehover.png") no-repeat;
  background-position: -5px -5px;
  opacity: 1;
} 
.package:active::before {
  background: transparent url("../img/index/spritenew.png") no-repeat;
  background-position: -5px -5px;
  opacity: 0.15;
}
.button {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  background: #fb565a;
  text-decoration: none;
}
/*header: слайдер */
.slider-container {                                    
/*  position: relative; 
   /*min-height: 355px; */
  background: #eeeeee;
  margin-top: 30px;
 /* padding-top: 40px;       
  padding-left: 0; 
   border: 1px solid #fb565a; */
} 

.sliders {                                  
  display: none;
   
}
/*header: круглые кнопки слайдера */
.slider-controls {                          
  position: absolute;
  bottom: 115px;
  left: 49%;
  margin-left: -35px;
  width: 60px;
  height: 10px;
  text-align: center;
  z-index: 100;
  line-height: 0;
}
.slider-controls label {
  display: inline-block;
  vertical-align: top;
  width: 4px;
  height: 4px;
  margin: 0 3px;
  border: 3px solid #ffffff;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
/*header: переключение круглых кнопок слайдера */
.slide1:checked ~ .slider-controls label:nth-child(1),      
.slide2:checked ~ .slider-controls label:nth-child(2),
.slide3:checked ~ .slider-controls label:nth-child(3) { 
  background:#c1c1c1;
}
.slider-list {
  min-height: 319px;
  
}
.slider-item {                        
  position: relative; 
  display: none;
  
}
/*header: переключение между слайдами */
.slide1:checked ~ .slider-list .slider-item:nth-child(1),       
.slide2:checked ~ .slider-list .slider-item:nth-child(2),
.slide3:checked ~ .slider-list .slider-item:nth-child(3) { 
  display: block;
}
/*header: картинка слайда */
.slider-item-image {                                            
  float: right;
  
/*  min-height: 320px; */
  
  /*background-position: right, top;
  background-image: url("img/index/slide1.png");
  background: no-repeat;*/
} 
/*header: текст на слайде */
.slider-item-text {                                             
  float: left; 
  width: 480px;
  margin-right: 60px;
/*  padding-top: 25px; */
/*  min-height: 286px; */
 /* min-height: 326px; */
  
}
.slider-item-text h2 {
  padding: 0;
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  color: #000000;
  padding-bottom: 22px;
  padding-top: 40px;  
}
.slider-item-text p {
  margin: 0;
  padding: 0; 
  padding-bottom: 34px;
  color: #283136; 
}
/* header: кнопка на слайде*/
.slider-button {                                         
  width: 240px;
  color: #ffffff;
  font-size: 12px;
  line-height: 18px;
  padding: 10px 70px;   
  border-radius: 2px;
  overflow: hidden;
}  
/*index: БЛОК - Направления работ компании*/
.directions-container {
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid #eeeeee;  
}
.directions-item {                                  
  float: left;
  width: 240px;
  margin-right: 80px;
}
.directions-item:last-child {
  margin-right: 0;
}
.directions-item img {
  padding-bottom: 27px;
}
.directions-item  p {
  margin: 0;
  padding: 0; 
  font-size: 15px;
  color: #283136;
  padding-bottom: 27px; 
}
.directions-item  h2 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  padding-bottom: 27px;
}
.directions-item-title {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}
.order-button {                               
  display: block;
  width: 140px;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  padding-top:10px;
  padding-bottom: 10px;
  border-radius: 3px;
  overflow: hidden; 
}
.first {
  background: #fb565a;
}
.first:hover {
  background: #d6494d;
}
.first:active {
  background: #b63538;
  box-shadow: inset 0 3px #9b2d30; 
}
.second {
  background: #00ca74;
}
.second:hover {
  background: #01a25e;
}
.second:active {
  background: #009053;
  box-shadow: inset 0 3px #007b47;
}
.third {
  background: #efc84a;
}
.third:hover {
  background: #d6ae2c;
}
.third:active {
  background: #c09b24;
  box-shadow: inset 0 3px #a3841f;
}
/*index: БЛОК - Описание компании*/ 
.description-container {
  padding-top: 75px;
  padding-bottom: 70px;
  border-bottom: 2px solid #eeeeee;                           
}
/*index: БЛОК - Описание компании - левая колонка*/
.description-container-left {
  float: left;
  width: 620px;
  margin-right: 20px; 
}
.description-container-left b {
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  margin-bottom: 15px; 
}
.description-container-left p {
  color: #283136;
  margin-bottom: 50px;
}
.description-container-left h3 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: #283136;
  margin-bottom: 30px;
}
.description-container-left ul {
  margin: 0;
  padding: 0;
  list-style: none; 
}
.description-container-left li {
  margin: 0;
  padding: 0;
  margin-left: 0;
  padding-left: 10px;
  color: #283136;
  margin-bottom: 30px;
}
.description-container-left li:last-child {
  margin-bottom: 0;
}
.description-left-text li {
  margin-left: 0;
  padding: 0 37px;
  background: #ffffff;
}
.description-left-text li::before {
  content: "";
  display: block;
  position: relative;
  top: 12px;
  left: -36px;
  width: 21px;
  border-bottom: 2px solid #fb565a;  
}
/*index: БЛОК - Описание компании - правая колонка*/
.description-container-right {
  float: right;  
  width: 240px;  
}
.index-logo {
  display: block;
  margin: auto;
  width: 187px;
  height: 75px;
  margin-bottom: 15px; 
} 
.index-logo-year {
  text-align: center;
  text-transform: uppercase;
  width: 240px;
  margin-bottom: 70px;
  margin-right: 0;
}
.index-logo-year span {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0 15px;
  text-align: center;
  background-color: #ffffff; 
  z-index: 2;
}
.index-logo-year:after {
  content: "";
  position: relative;
  top: -12px;
  display: block;
  border-bottom: 2px solid #eeeeee;
  z-index: 1;
} 
.description-container-right h3 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: #283136;
  margin-bottom: 30px;  
}
.description-container-right p {
  text-transform: uppercase;
  margin-bottom: 72px;  
}
.description-container-right ul {
  margin: 0;
  padding: 0;
  list-style: none; 
}
.description-container-right li {
  margin: 0;
  padding: 0;
  width: 240px;
  margin-left: 0;
  padding-left: 10px;
  padding: 0 37px;
  background: #ffffff;
  color: #283136;
  margin-bottom: 30px;
}
.description-container-right li:last-child {
  margin-bottom: 0;
}
.description-right-text li {
  padding: 0 37px;
  margin-right: 20px;
}
.description-right-text li::before {
  content: "";
  display: block;
  position: relative;
  top: 12px;
  left: -36px;
  width: 21px;
  border-bottom: 2px solid #fb565a;
}
/*index: БЛОК - Логотипы */  
.link-logo-container {
  padding-top: 45px;
  padding-bottom: 30px;
  border-bottom: 2px solid #eeeeee;
}
.link-logo-container a {                                   
  display: inline-block;            
  vertical-align: top; 
  margin-right: 76px;
  opacity: 0.2;
}
.link-logo-container a:last-child {
  margin-right: 0;
}
.link-logo-container a:hover {
  opacity: 1;
}
.link-logo-container a:active {
  opacity: 1;
}
.caption-container {
  padding-top: 70px;
  padding-bottom: 90px;
  background: #eeeeee;   
}
/*inner: Название страницы*/
.caption-container h1 {                              
  padding: 0;
  margin: 0;
  font-size: 40px;                                    
  line-height: 48px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;  
}
/*inner: БЛОК - Фильтр каталога*/
.catalog-container {
  margin-top: 80px;
}
.catalog-filter {                                   
  float: left;
  width: 240px;
  margin-right: 80px;  
} 
.sidebar fieldset {                                   
  border-color: transparent;
  margin-bottom: 50px;
} 
.sidebar-filter-value {                           
  padding: 0;
} 
.sidebar-filter-item {
  padding: 0;
  line-height: 20px;
}
.sidebar-filter-features {
  padding: 0;
  width: 240px;
  line-height: 20px;
}
.sidebar legend {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
}
.sidebar-filter-item  p {
  padding-bottom: 15px;
}
.sidebar-filter-features p {
  padding-bottom: 18px;
}
.scrolling {                                      /*inner: Фильтр каталога -"стоимость"*/
  position: relative;                           
  height: 80px;
  background: #f1f1f1;
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 0 30px;
  border-radius: 3px;
  overflow: hidden;
}
.scrolling .scale {
  margin-top: 39px;
  height: 2px;
  background: #d7dcde; 
}
.scrolling .bar {
  height: 2px;
  background: #00ca74;
}
.scrolling .toggle {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 4px;
  height: 4px;
  border: 8px solid white;
  background: #ababab;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}
.scrolling .max-toggle {
  left: 145px;
}
.scrolling-cell {
  position: relative;
  height: 38px;
}
.scrolling-cell label {
  position: absolute;
}
.scrolling-cell  span{
  text-transform: uppercase;
  color: #283136;
 }
.scrolling-cell input {
  width: 80px;
  height: 38px;
  border: 0;
  text-align: center;
  background: #f1f1f1;
  margin-left: 8px;
  color: #283136;
  border-radius: 3px;
  overflow: hidden;
} 
.scrolling-cell-from {
  left: 0;                   
}
.scrolling-cell-to {
  right: 0;                  
}
/*inner: Фильтр каталога - radio button*/
.filter-item {                                   
  position: relative;
  display: block;
  margin-bottom: 15px;
  margin-top: 20px;
  padding-left: 44px;
  cursor: pointer;
  color: #283136;
}
.filter-item input[type="radio"] {
  display: none;  
}
.filter-item input[type="radio"] + .radio-indicator {
  position:absolute;
  top: -2px;
  left: 0;  
  width: 18px;
  height: 18px;
  border: 3px solid #c1c1c1;
  background: #ffffff;
  cursor: pointer; 
  border-radius: 50%;  
} 
.filter-item input[type="radio"]:checked + .radio-indicator::after {
  content: "";
  position: absolute;
  top: 5px; 
  left: 5px; 
  width: 8px;
  height: 8px;
  background-color: #c1c1c1;
  border-radius: 50%;  
}
.filter-item input[type="radio"] + .radio-indicator:hover {
  text-decoration: none;
  border: 3px solid #b5b5b5;
}
.filter-item input[type="radio"]:checked + .radio-indicator:hover::after {
  background-color: #b5b5b5;
}
/*inner: Фильтр каталога - checkbox*/
.filter-features {                                   
  position: relative;
  display: block;
  margin-top: 20px;
  margin-bottom: 15px;
  padding-left: 35px;
  cursor: pointer;
  color: #283136;    
}
.filter-features input[type="checkbox"] {
  display: none; 
}
.filter-features input[type="checkbox"] + .checkbox-indicator {
  position:absolute;
  top: -2px;
  left: 0;  
  width: 18px;
  height: 18px;
  border: 2px solid #c1c1c1;
  background: #ffffff;
  cursor: pointer; 
  border-radius: 4px;
} 
.filter-features input[type="checkbox"]:checked + .checkbox-indicator::before {
  content: "";
  position: absolute;
  top: 7px; 
  left: 1px;   
  width: 8px;
  height: 1px;
  border: 2px solid #c1c1c1;
  background-color: #c1c1c1;
  z-index: 2;  
}
.filter-features input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 3px; 
  left: 6px;  
  width: 20px;
  height: 5px;
  outline: 2px solid #ffffff;  
  background-color: #c1c1c1; 
  z-index: 1
  }
.filter-features input[type="checkbox"]:checked + .checkbox-indicator::before {
  transform: rotate(45deg);   
}
.filter-features input[type="checkbox"]:checked + .checkbox-indicator::after {
  transform: rotate(-45deg); 
}
.filter-features input[type="checkbox"] + .checkbox-indicator:hover {
  border: 2px solid #b5b5b5;
}
.filter-features input[type="checkbox"]:checked + .checkbox-indicator:hover::before {
  border: 2px solid #b5b5b5; 
  background-color: #b5b5b5;
}
.filter-features input[type="checkbox"]:checked + .checkbox-indicator:hover::after {
  outline: 2px solid #ffffff;  
  background-color: #b5b5b5;
}
.catalog-filter-button {                       /*inner: Кнопка фильтра каталога*/
  width: 155px;
  background: #f1f1f1;
  text-align: center;
  padding: 10px 47px;
  border: 0;
  border-radius: 3px;
  overflow: hidden;
}
.catalog-filter-button:hover {
  background: #e5e5e5;
}
.catalog-filter-button:active {
  background: #d5d5d5;
}
.catalog-list {                           /*inner: БЛОК - список товара*/
  float: right;
  width: 560px;   
} 
.catalog-selection {                        /*inner: Панель сортировки*/ 
  position: relative;                      
  font-size: 0;
  line-height: 18px;
  margin-bottom: 25px;
}
.catalog-selection  ul {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  list-style: none; 
  padding: 0;
  text-transform: uppercase;
  font-size: 0;
}
.catalog-selection li {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  margin-right: 40px;
  font-size: 12px;
} 
.catalog-selection li:last-child {
  margin-right: 0;
}
.catalog-selection  span {        
  color: #000000;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 40px;
}
.catalog-selection a {
  color: #c7c7c7; 
  text-decoration: none;
  border-bottom: 1px dashed #00ca74;
  font-weight: normal;  
}
.catalog-selection a:hover {
  color: #000000;
  text-decoration: none;
  border-bottom: 1px solid #00ca74;
}
.catalog-selection a:active {
  color: #000000;
  text-decoration: none;
  border-bottom: none;
}
.triangle-down  {
  position: relative;
  left: 100px; 
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 11px solid #c1c1c1;
}
.triangle-down:hover {
  border-top: 11px solid #b5b5b5;
}
.triangle-down:active {
  border-top: 11px solid #000000;
}
.triangle-down:focus {
  border-top: 11px solid #00ca74;
}
.triangle-up {
  position: relative; 
  left: 70px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 11px solid #c1c1c1;
}
.triangle-up:hover {
  border-bottom: 11px solid #b5b5b5;
}
.triangle-up:active {
  border-bottom: 11px solid #000000;  
}
.triangle-down-active:focus {
  border-bottom: 11px solid #00ca74;
} 
.catalog-items {                                  
  font-size: 0;
}  
.catalog-item {                                   /*inner: карточка товара*/
  position: relative; 
  display: inline-block;
  vertical-align: top;
  width: 240px;
  height: 270px;
  overflow: hidden;
  margin-bottom: 80px; 
 /* -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; */
  box-sizing: border-box;
  padding-top: 30px;
  background-color: #f1f1f1;
  border-radius: 3px 3px 0 0;
 /* -webkit-transition: background-color .3s linear;
  -o-transition: background-color .3s linear;  */
  transition: background-color .3s linear;
}
.catalog-item:nth-child(2n) {
  margin-left: 80px;
}
.catalog-item:hover {
  background-color: #797979;
}
.catalog-item:after,
.catalog-item:before {
  position: absolute;
  top: 10px;
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
}
.catalog-item:after {
  left: 12px;
}
.catalog-item:before {
  left: 29px;
  box-shadow: 17px 0 0 0 #ffffff;
}
.catalog-item-img {}
.catalog-item-img img {
  width: 240px;
  height: 240px;
}
.catalog-item-description {                          /*inner: Карточка товара - Описание товара*/
  position: absolute;
  top: 50px;
  left: 20px; 
  overflow: hidden;
  overflow: auto;
  width: 200px;
  height: 200px;
/*  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;  */
  box-sizing: border-box;
  padding: 30px 20px; 
  background-color: #ffffff;
  opacity: 0;
  text-align: center;
/*  -webkit-transition: opacity .5s linear;
  -o-transition: opacity .5s linear;  */
  transition: opacity .5s linear;
}
.catalog-item-description h3 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
.catalog-item-description p {
  margin: 0;
  padding: 0;
 /* height: 160px; */
  /* overflow: hidden; */
  
  margin: 12px 0 0 0;
  font-size: 14px;
  line-height: 18px;
  color: #283136;
}
.catalog-item-buy {                            /*inner: Карточка товара - кнопка*/
  position: absolute;
  left: 30px;
  bottom: 30px;
  display: block;
  width: 140px;
  padding-top: 10px;
  padding-bottom: 10px;
/*  height: 38px;  */
  font-size: 18px;
  line-height: 18px;
  background: #fb565a;
  color: #000000;
  border: 0;
}
.catalog-item-buy:hover {
  background: #d6494d;
}
.catalog-item-buy:active {
  background: #b63538;
}
.catalog-item:hover .catalog-item-description {
  opacity: 1;
}
.catalog-pageswitch {                              /*inner: Пагинация*/
 /* width: 284px;
  white-space: nowrap; */
  margin-bottom: 80px;
}
.catalog-pageswitch a {
  display: inline-block;
  vertical-align: top;
 /* min-width: 8px;
  height: 38x; */
/*  padding: 0 15px; */
  font-size: 12px;
  line-height: 38px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  border-radius: 3px;
 /* overflow: hidden; */
  margin-right: 10px;
}
.catalog-pageswitch a:last-child {
  margin-right: 0;
  
}
.page-current {
  border: 2px solid #f1f1f1;
  background-color: #ffffff; 
  padding: 0 15px; 

}
.page-disabled {
  background: #f1f1f1;
  padding: 0 15px; 
}
.page-disabled:hover {
  background: #e5e5e5;
}
.page-disabled:active {
  background: #d5d5d5;
 /* border-top: 3px solid #b5b5b5;
  height: 35px; */
  box-shadow: inset 0 3px #b5b5b5;
}


/*footer:*/
.footer-map-container  {
  position: relative;
 /* margin-bottom: 75px;*/
  width: 1200px;
  padding-left: 0;
  padding-top: 85px;
  padding-bottom: 80px;  
}
/*footer: БЛОК на карте - с адресом и тел.*/  
.footer-contacts {                               
  position: absolute;
  bottom: 172px;       
  left: 160px; 
  width: 250px; 
  height: 240px;
  background: #ffffff;  
}
.footer-contacts-description {                             
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 30px;
  padding-bottom: 25px;
}
.footer-contacts-address {
  height: 77px; 
  margin-bottom: 20px;
  margin-top: 21px;  
}
.footer-contacts-description b {
  line-height: 30px;
  text-transform: uppercase;
} 
.footer-contacts-description  p {
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
  line-height: 20px;
  font-weight: normal;
  color: #283136;
}
.callback-button {                               
  display: block;
  width: 204px;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px; 
  border-radius: 3px;
  overflow: hidden; 
  margin-bottom: 25px;  
}
/*footer: Логотип на карте */
.footer-map-logotype {                            
  position: absolute;
  bottom: 195px;
  left: 839px;
}
/*footer: Иконки -в контакте, фейсбук, инстаграмм*/  
.footer-social-logo {                             
  float: left;
  width: 240px;
 /* height: 215px;  */
 /* margin-right: 80px; */
}
.footer-social-logo a {
  display: inline-block;
  vertical-align: top;
  margin-right: 18px;
} 
.footer-social-logo a:last-child {
  margin-right: 0;
}
.footer-social-slogan {
  float: right; 
}
.footer-social-slogan b {
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
}
.footer-social-slogan p {
  margin: 0;
  padding: 0;
  color: #283136;
}
.footer-socials-container {
  margin-bottom: 80px;
}
/* Спрайт */
.sprite {                                                 
  background-image: url("../img/index/spritenew.png");
  background-repeat: no-repeat;
  display: block;
}
.sprite-icon-basket {
  width: 15px;
  height: 15px;
  background-position: -5px -5px;
}
.sprite-icon-facebooknew {
  width: 12px;
  height: 22px;
  background-position: -5px -30px;
}
.sprite-icon-instagrammnew {
  width: 21px;
  height: 21px;
  background-position: -5px -62px;
}
.sprite-icon-vknew {
  width: 26px;
  height: 15px;
  background-position: -5px -93px;
}
/*footer: социальные иконки*/ 
.social-btn {                                             
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 62px;
  height: 62px;
  background-color: #e1e1e1; 
  -moz-border-radius: 31px;
  -webkit-border-radius: 31px;
  border-radius: 31px;
  border: 0;
  font-size: 0;
}
.social-btn:hover {
  background-color: #fb565a;
}
.social-btn:active {
  background-color: #d6494d;
}
.social-btn::before {
  content: "";
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);  
  background-image: url("../img/index/spritenew.png");      
  background-repeat: no-repeat;
}
.social-btn-vk::before {
  width: 26px;
  height: 15px;
  background-position: -5px -93px;
}
.social-btn-fb::before {
  width: 12px;
  height: 22px;
  background-position: -5px -30px;
}
.social-btn-inst::before {
  width: 21px;
  height: 21px;
  background-position: -5px -62px;
}							                          
/*footer: Модальное окно */
.modal-content {                                  
  position: absolute;
  display: none; 
  left: 275px;
  top: 1660px;   
  width: 460px;
  height: 416px;
  background: #ffffff;
  padding-left: 80px;
  padding-right: 90px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.7)
} 
.modal-content-show {
  display: block;
}
.modal-content-close {
  position: absolute;
  top: 5px;
  left: 584px;
  width: 41px;
  height: 41px;
  background: #fb565a;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: 0;
  font-size: 0;
  cursor: pointer;
}
.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  right: 8px;
  bottom: 18px;
  width: 25px;
  height: 5px;
  background-color: #ffffff;
  border-radius: 1px; 
}
.modal-content-close::before {
 transform: rotate(45deg);
}
.modal-content-close::after {
  transform: rotate(-45deg);
}
.input-form {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Roboto", "Arial", sans-serif;   
} 
.modal-data-name {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
.modal-data-name:last-child {
  margin-right: 0;
} 
.modal-data-email {
  float: right;           
  margin-bottom: 20px;
}
.modal-data span {
  font-size: 16px;
  line-height: 18px;
}
.modal-data  input[type="text"] {
  width: 199px;                      
  height: 34px;
  margin-top: 10px;
  padding-left: 15px;  
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  border: 2px solid #d7dcde;
  outline: none;
}
.modal-data  input:hover {
  border: 2px solid #a2a9ac;
} 
.modal-data  input:focus {
  border: 2px solid #56bffb;
}  
.modal-dialog {
  margin-bottom: 50px;
}
.modal-dialog  textarea {
  width: 443px;
  height: 102px;
  margin-top: 10px;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  border: 2px solid #d7dcde;
  outline: none;
}  
.modal-dialog span {
  font-size: 16px;
  line-height: 18px;
}
.send-button {
  width: 460px;
  font-size: 12px;
  line-height: 18px;
  background: #fb565a;
  color: #ffffff;
  padding: 10px 0;
  border: 0;
  text-transform: uppercase;
  border-radius: 3px;
  overflow: hidden;
}









